h1= title
#articles
  - each article in articles
    div.article
      div.created_at= article.created_at
      - var articlelink = 'blog/view/' + article._id;
      a(href=articlelink)
        div.title= article.title
      div.body!= article.body
  a(href='blog/new')
    Add new post
